

<!-- Toolbar -->
<mat-toolbar color='primary'>
  <a href='/top'>
    
  <button mat-button class='tittle' color="primary">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Y_Combinator_logo.svg/320px-Y_Combinator_logo.svg.png?1638744201629" width="40px" alt="">
    Hacker News
 </button>
  </a>

</mat-toolbar>
<!-- Content -->
<div class="content">

  <router-outlet></router-outlet>

</div>
<!--Footer-->
<div>
  <mat-toolbar class=footer color='primary'>

    <mat-toolbar-row>
      <span >Ignacio Sanfurgo - For <a class="link" href="https://www.haulmer.com/">Haulmer</a></span>
    
    </mat-toolbar-row>

 </mat-toolbar>
</div>
